@page "/"

@model SampleOpenTelemetry.Pages.IndexModel

@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document Load Instrumentation Example</title>
    <base href="/">
    <!--
    https://www.w3.org/TR/trace-context/
    Set the `traceparent` in the server's HTML template code. It should be
    dynamically generated server side to have the server's request trace Id,
    a parent span Id that was set on the server's request span, and the trace
    flags to indicate the server's sampling decision
    (01 = sampled, 00 = notsampled).
    '{version}-{traceId}-{spanId}-{sampleDecision}'
    -->
    <meta name="traceparent" content="@Model.ActionId">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body, input, button {
            font-family: monospace;
            font-size: 2rem;
        }

        .container {
            margin: 300px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .trace-id {
            font-size: 1.8rem;
        }

        .activity-id {
            font-size: 1.2rem;
        }

        form {
            margin-bottom: 100px;
            width: 800px;
        }

        .form-group {
            margin-bottom: 25px;
        }

        .form {
            margin-bottom: 50px;
        }

        button {
            background-color: #2b83d2;
            border: none;
            cursor: pointer;
            padding: 10px;
            color: white;
            font-size: 1.2rem;
            border-radius: 10px;
        }

        button:hover {
            background-color: #0074cc;
        }

        button:active {
            background-color: #0063bf;
        }

        .checkout {
            display: flex;
        }

        .checkout-button {
            margin-left: auto;
        }
    </style>
</head>
<body>

<div class="container">
    <form method="post">
        <div class="form">
            <div class="form-group">
                <label asp-for="ProductId">Product Id:</label>
                <input asp-for="ProductId"/>
                <label>-,-- €</label>
            </div>

            <div>
                <button type="button" id="ajax-call-button">Check Availability</button>
                <button type="button" id="ajax-call-button">Get Price</button>
            </div>
        </div>
        <div class="checkout">
            <div class="checkout-button">
                <button type="submit">Checkout</button>
            </div>
        </div>

        <input asp-for="ActionId" type="hidden"/>
        @Html.AntiForgeryToken()
    </form>

    <div class="trace-id"><label>Trace ID:</label> @(Model.TraceId ?? "--")</div>
    <div class="activity-id"><label>Action ID:</label> @(Model.ActionId ?? "--")</div>

</div>

<script type="text/javascript" src="/dist/main.js"></script>

</body>
</html>